body{
    background: black;
    color: white;
    margin: 0 auto;
}
h1{
    margin: 0 auto;
    text-align: center;
}
main{
    background-color: white;
    color: black;
    width: 80%;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
}

#cv{
    display: flex;
}

dt{
    font-weight: bold;
}

h3{
    text-decoration: underline;
}